@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
  border-width: 1px;
  @apply shadow-sm border-slate-200 rounded-md p-2 mb-4;
}
